.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1200;
  opacity: 0;
  transition: opacity 300ms;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-content {
  position: relative;
  top: 50%;
  display: flex;
  gap: 8px;
  align-items: center;
  flex-direction: column;
  width: 400px;
  padding: 40px;
  background-color: #fff;
  border-radius: 30px;
  transform: translateY(-50%);
}

.modal-content h2 {
  text-align: center;
}
